{% extends "base.html" %}
{% block main %}
    <div class="container mt-3 col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1 class="display-3">Анализатор страниц</h1>
        <p class="fs-5 fw-light">Бесплатно проверяйте сайты на SEO пригодность.</p>
        <form action="{{url_for('add_url')}}" method="post" required>
            <div class="hstack gap-3">
                    <input name="url" class="form-control form-control-lg me-auto" type="text" placeholder="https://www.example.com" aria-label=".form-control-lg example">
                    <input type="submit" class="btn btn-primary btn-lg px-5" value="Проверить">
            </div>
        </form>
    </div>
{% endblock %}
