{% extends "base.html" %}
{% block main %}
    <div class="container-lg mt-3 text-wrap">
        <h1>Сайт: {{ url.name }}</h1>
    </div>
    <div class="container-lg mt-2">
        <table class="table table-bordered table-hover" data-test="url">
            <tbody>
                <tr><td>ID</td><td>{{ url.id }}</td></tr>
                <tr><td>Имя</td><td>{{ url.name }}</td></tr>
                <tr><td>Дата создания</td><td>{{ url.created_at.date() }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="container-lg mt-5">
        <h2>Проверки</h2>
    </div>
    <div class="container-lg mt-3">
        <form action="{{url_for('add_url_check', id=url.id)}}" method="post" required>
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
    </div>
    <div class="container-lg mt-2">
        <table class="table table-bordered table-hover" data-test="checks">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Код ответа</th>
                <th scope="col">h1</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">Дата создания</th>
            </tr>
            {% for check in url.checks %}
                <tr>
                    <td scope="col">{{ check["id"] or "" }}</td>
                    <td scope="col">{{ check["status_code"] or "" }}</td>
                    <td scope="col">{{ check["h1"] or "" }}</td>
                    <td scope="col">{{ check["title"] or "" }}</td>
                    <td scope="col">{{ check["description"] or "" }}</td>
                    <td scope="col">{{ check["created_at"].date() if check["created_at"] else "" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}