{% extends "base.html" %}
{% block main %}
    <div class="container-lg mt-3 text-wrap">
        <h1>Сайты</h1>
    </div>
    <div class="container-lg mt-2">
        <table class="table table-bordered table-hover" data-test="urls">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Последняя проверка</th>
                <th scope="col">Код ответа</th>
            </tr>
            {% for url in urls %}
                <tr>
                    <td scope="col">{{ url["id"] }}</th>
                    <td scope="col"><a href={{ url_for("get_url", id=url["id"]) }}>{{ url["name"] }}</a></th>
                    <td scope="col">{{ url["last_checked_at"].date() if url["last_checked_at"] is not none else "" }}</th>
                    <td scope="col">{{ url["status_code"] if url["status_code"] is not none else "" }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
